.app_dark_theme {
    --bg-color: #082828;
    --inverted-bg-color: #b2d3d3;
    --primary-color: #2da184;
    --secondary-color: #cdde6e;
    --inverted-primary-color: #1d0f3f;
    --inverted-secondary-color: #6e86de;
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;
    --code-bg: #1212a1;
    --card-bg: #0f4747;
    --listbox-bg: #0f4747;
}
