.app_light_theme {
    --bg-color: #eaefef;
    --inverted-bg-color: #082828;
    --primary-color: #6e86de;
    --secondary-color: #1d0f3f;
    --inverted-primary-color: #2da184;
    --inverted-secondary-color: #cdde6e;
}
